body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: white;
}

h1 {
	text-align: center;
}

.hero {
  color: #ffffff;
  background-image: url("https://awesomewallpapers.files.wordpress.com/2016/01/nebula-2710ceb3c3a7c3a5x1694-16x10.jpg");
  background-size: cover;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding: 10px 0;
	margin: 10px;
}

a {
	color : white;
}
